body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

header {
  text-align: center;
  font-size: x-large;
}

.tableArea {
  width: 60%;
  margin: 0 auto;
}

.buttonArea {
  width: max-content;
  margin: 0 auto;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}

.socialmediaicons{
	text-align: center;
}